/* Hide TOC scrollbar */
.md-sidebar__scrollwrap {
  overflow-y: hidden;
}

/*
    https://css-tricks.com/snippets/css/typewriter-effect/
    https://iamvdo.me/en/blog/css-font-metrics-line-height-and-vertical-align
*/

.line-1{
    position: relative;
    margin: 0.8rem auto;
    width: 8.5em;
    line-height: 1;
    vertical-align: middle;
    border-right: 2px solid rgba(255,255,255,.75);
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
}

/* Animation */
.anim-typewriter{
  animation: typewriter 1s steps(17) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 8.5em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}